/*
Copyright 2018, 2019, 2020 Clément Saccoccio
Licenced under GPL-3.0-or-later

This file is part of Iziit.
Iziit is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
Iziit is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with Iziit. If not, see <https://www.gnu.org/licenses/>.

You can contact us at contact@iziit.org
*/

body .liWCRS310_Product,
body .divWCRS310_ProductsList .liWCRS310_Product,
body .liWCRS310_Product:hover .divWCRS310_Bordure{

	background-color : #999;
}

body .GreenOil-whiteListed,
body .divWCRS310_ProductsList .GreenOil-whiteListed,
body .GreenOil-whiteListed:hover .divWCRS310_Bordure{

	background-color : #3D4;
}

body .GreenOil-blackListed,
body .divWCRS310_ProductsList .GreenOil-blackListed,
body .GreenOil-blackListed:hover .divWCRS310_Bordure{

	background-color : #F66;
}

body .spanWCRS310_ContenanceInfo{

	color : #5A5A5A;
}
