/*
Copyright 2018, 2019, 2020 Clément Saccoccio
Licenced under GPL-3.0-or-later

This file is part of Iziit.
Iziit is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
Iziit is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with Iziit. If not, see <https://www.gnu.org/licenses/>.

You can contact us at contact@iziit.org
*/

*{
	margin : 0px;
	padding : 0px;
}

html{

	overflow-x : hidden;
	overflow-y : hidden;
}

body{

	width : 300px;
	height : 450px;

	font-family : arial;
	font-size : 14px;

	user-select : text;
}

p:hover, h1:hover, .text{

	cursor : text;
}

.grab, .grab input, .grab h1{

	cursor : pointer;
}

.grab, img{

	user-select : none;
}

#menu{

	position : absolute;

	width : 300px;
	height : 40px;
}

.menu-element{

	width : 100px;
	height : 40px;

	float : left;
	text-align : center;

	cursor : pointer;
}

.menu-element:hover{

	background-color : rgba(255, 255, 255, .2);
}

.panel{

	position : absolute;

	width : 300px;
	height : 450px;
}

.inner-panel{

	margin : 10px;
	margin-top : 40px;
}

.hidden{

	display : none;
}

#logs{

	position : absolute;
	top : 430px;

	background-color : white;
	display : none;

	width : 300px;
	height : 20px;
}

/* centering */

.center{

	position : absolute;
	top : 50%;
	left : 50%;
	transform : translate(-50%, -50%);
}

.center-vrt{

	position : absolute;
	top : 50%;
	transform : translate(0%, -50%);
}

.center-hrz{

	position : absolute;
	left : 50%;
	transform : translate(-50%, 0%);
}
