/*
Copyright 2018, 2019, 2020 Clément Saccoccio
Licenced under GPL-3.0-or-later

This file is part of Iziit.
Iziit is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
Iziit is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with Iziit. If not, see <https://www.gnu.org/licenses/>.

You can contact us at contact@iziit.org
*/

#p1{

	left : 600px;
	display : none;
	background-image : url("../images/background-1.png");
}

#p1 .inner-panel{

	margin-top: 47px;
}

#p1	p{

	margin : 0px;
	margin-bottom : 8px;
}

#p1 .switch{

	vertical-align : middle;
}

#p1 div{

	margin-bottom : 3px;
}

#p1 .category{

	margin-top : 7px;
	margin-bottom : 2px;
	font-style : italic;
	color : #555;
}
