/*
Copyright 2018, 2019, 2020 Clément Saccoccio
Licenced under GPL-3.0-or-later

This file is part of Iziit.
Iziit is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or any later version.
Iziit is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
You should have received a copy of the GNU General Public License along with Iziit. If not, see <https://www.gnu.org/licenses/>.

You can contact us at contact@iziit.org
*/

#p0{

	background-image : url("../images/background-0.png");
}

#p0 .inner-panel{

	text-align : center;
}

#p0 img{

	margin-top : 15px;
}

#p0 a{

	color : #007007;
	font-weight : bold;
	text-decoration : none;
}

#p0 a:hover{

	text-decoration : underline;
}

#p0 h1{

	font-size : 1.5em;
	margin-top : 15px;
	margin-bottom : 10px;
}

#p0 p{

	text-align : justify;
	margin-top : 25px;
}

#p0 #disclaimer-end{

	margin-top : 5px;
	text-align : right;
}
