
/* Author : https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch{

	position : relative;
	display : inline-block;
 	width : 30px;
	height : 17px;
	cursor : pointer;
	user-select : none;
}

/* Hide default HTML checkbox */
.switch input {
	display : none;
}

/* The slider */
.slider{

	position : absolute;
	cursor : pointer;
	top : 0;
	left : 0;
	right : 0;
	bottom : 0;
	background-color : #D22;
	border-radius : 17px;
	transition : .4s;

}

.slider span{

	position : absolute;
	content : "";
	height : 13px;
	width : 13px;
	left : 2px;
	bottom : 2px;
	background-color : white;
	border-radius : 50%;
	transition : .4s;
}

.instant, .instant span{

	transition : 0s;
}

input:checked + .slider{

	background-color : #2B3;
}

input:focus + .slider{

	box-shadow : 0 0 1px #2196F3;
}

input:checked + .slider span{

	transform : translateX(13px);
}
